{% extends 'base.html' %}
{% block content %}
<!--This is a comment-->

<h2>Welcome to our Rockhound site</h2>
<p>We strive to categorize and compile information on different minerals, crystals, and fossils found by our club.</p>

<h4>What is Rockhounding?</h4>
<p>Rockhounding, or amateur geology, is the recreational study and collection of rocks, gems, minerals, or fossils from their natural environments. Rockhounds are the people who cannot pass by a pretty rock without  picking it up for a closer look.</p>
<p>this site is under construction</p>

{%  endblock %}